<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Signin</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  </head>
  <body>
    <p>
      Test App
    </p>
    <a href="/">Home</a>
    <a href="/signin">Sign in</a>
    <h1>Signin</h1>
    <form class="" action="/login" method="post">
      {% csrf_token %}
      Email Address: <input type="text" name="email">
      Password: <input type="password" name="password">
      <input type="submit" value="Signin">
    </form>
    <a href="/signup">Don't have an account? Register</a>
  </body>
</html>
